body{
    background-color: white;
    font-family: "Franklin GOthic Medium", "Arial Narrow", Arial, sans-serif;
}

.panel {
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: 8px solid burlywood;
    z-index: 1;
}

.header {
    left: 50%;
    top: 70px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.footer {
    left: 50%;
    top: 770px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.footer button {
    position: relative;
    left: 50px;
    top: 17px;
    margin-left: -25px;
    width: 250px;
    height: 50px;
    background-color: lightblue;
    font-size: 30px;
    border: 5px solid chocolate;
    font-weight: bold;
}

.header-text{
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gameBoard{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    padding: 20px;
    width : 500px;
    position : absolute;
    left : 50%;
    margin-left: -250px;
    top: 20%;
    background-color: bisque;
    border: 8px solid burlywood; 
    border-radius: 8%;
}

    
.gameCircle{
    width : 100px;
    height : 100px;
    margin: 10px;
    border-radius : 50%;
    border: 5px solid black;
}

.player_0 {
    background-color: white;
}

.player_1{
    background-color: red;
}

.player_2{
    background-color: blue;
}